@{
    ViewData["Title"] = "Photolio";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Photolio!</h1>
    <p>Here, you can upload photos for safe keeping, or delete them when you don't want to store them anymore, make ana ccount to start uploading today!</p>
    <p>We do not share any of your information, the only information we share is your photos with you!</p>
</div>