@{
    ViewData["Title"] = "Photolio";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Photolio!</h1>
    <p>This website is in ongoing development, here you will be able to upload images for safe and secure storage, try signing up today! (When functionality is implemented)</p>
</div>