@model PortfolioWebsite.Models.Photo

@{
    ViewData["Title"] = "Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Upload Photo</h1>
<!-- Needs to check if a user is logged in to upload a photo/display the following code -->

<!-- Adds a form for file upload -->
<form method="post" enctype="multipart/form-data" asp-controller="Photo" asp-action="Upload">
    <span>Upload an Image: </span>
    <!-- "multiple" keyword allows multiple files to be uploaded at once -->
    <input type="file" name="postedFiles" multiple />
    <input type="submit" value="Upload" />
    <br />
    <span style="color:green">@Html.Raw(ViewBag.Message)</span>
</form>