@model PortfolioWebsite.Models.ViewPhotosViewModel

@{
    ViewData["Title"] = "View Photos";
}

<head>
    <h1>Your photos:</h1>
</head>
<body>
    <div>
        @{
            // If the user has no photos uploaded, display this
            if (@Model?.Photos == null)
            {
                <p>No photos to display!</p>
            }
            else
            {
                // For every photo the user has uploaded
                foreach (Photo photo in @Model?.Photos)
                {
                    // Creates a temporary string and puts "/images/" 
                    // at the start of each PhotoPath to properly be
                    // displayed when put into the page
                    string temp = "/images/" + photo.PhotoPath;

                    // Creates an <img> tag to display an image, might be changed
                    // later to create an organized look without distorting the images
                    <img src="@temp" alt="" width="200" height="200">

                    // Delete button will need to be styled so that it goes underneath
                    // each image, rather than awkwardly to the side of them
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@photo.PhotoId">Delete</a>
                }
            }
        }
    </div>
</body>