@model PortfolioWebsite.Models.Photo

@{
    ViewData["Title"] = "View Photos";
}

<head>
    <h1>Work in progress!</h1>
</head>
<body>
    <div>
        <!-- For each photo path stored under the currently 
            logged in user, create a new <img> to display 
            each photo path. -->


    </div>
</body>